In [84]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [86]:
horizontal_05mm12 = pd.read_csv('../bearing_fault/horizontal-misalignment/0.5mm/12.288.csv')
horizontal_05mm30 = pd.read_csv('../bearing_fault/horizontal-misalignment/0.5mm/30.3104.csv')
horizontal_05mm50 = pd.read_csv('../bearing_fault/horizontal-misalignment/0.5mm/50.176.csv')
horizontal_05mm62 = pd.read_csv('../bearing_fault/horizontal-misalignment/0.5mm/62.0544.csv')

In [87]:
horizontal_05mm12

,-0.49977,0.97159,0.086419,-0.01759,0.64014,0.19493,0.35288,0.021614
0,-0.54833,-1.21600,-0.353530,-0.060630,0.50864,0.195880,0.23587,0.045124
1,-0.44806,1.33940,0.285630,0.064970,0.65422,0.196410,0.37791,-0.070311
2,-0.57483,-1.25120,-0.474590,0.016734,0.47286,0.192980,0.21212,0.124980
3,-0.45559,0.84107,0.314980,0.124230,0.62664,0.194600,0.36869,-0.133050
4,-0.53617,-0.42988,-0.323290,0.008557,0.53993,0.192190,0.30960,0.184750
...,...,...,...,...,...,...,...,...
249994,-0.53831,-0.50245,-0.195440,-0.127690,-1.13020,0.099213,-0.34438,0.171440
249995,-0.53883,-0.56453,0.114550,-0.067111,-1.12290,0.097333,-0.33685,-0.075835
249996,-0.53620,0.52067,-0.008407,-0.023910,-1.09200,0.097712,-0.30687,0.090173
249997,-0.53906,-1.43360,-0.164980,-0.029434,-1.16960,0.094124,-0.39762,0.071409
249998,-0.53617,1.22350,0.235220,0.074932,-1.03370,0.095170,-0.27669,-0.050913

In [88]:
import pandas as pd
import numpy as np

horizontal_05mm12 = pd.read_csv('../bearing_fault/horizontal-misalignment/0.5mm/12.288.csv')

# Insertar una fila vacÃ­a al principio
horizontal_05mm12.loc[-1] = [np.nan] * len(horizontal_05mm12.columns)  # Crear una fila vacÃ­a
horizontal_05mm12.index = horizontal_05mm12.index + 1  # Desplazar los Ã­ndices hacia abajo
horizontal_05mm12 = horizontal_05mm12.sort_index()  # Ordena el Ã­ndice para que la fila vacÃ­a quede en la parte superior

# Asegurar que la primera fila de datos sea la fila correcta con los valores -0.49977
horizontal_05mm12.iloc[0] = [-0.49977, 0.97159, 0.086419, -0.01759, 0.64014, 0.19493, 0.35288, 0.021614]

# Asignar nombres de columnas si es necesario
column_names = ['S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8']
horizontal_05mm12.columns = column_names  # Asignar nombres de columnas

horizontal_05mm12

,S1,S2,S3,S4,S5,S6,S7,S8
0,-0.49977,0.97159,0.086419,-0.017590,0.64014,0.194930,0.35288,0.021614
1,-0.54833,-1.21600,-0.353530,-0.060630,0.50864,0.195880,0.23587,0.045124
2,-0.44806,1.33940,0.285630,0.064970,0.65422,0.196410,0.37791,-0.070311
3,-0.57483,-1.25120,-0.474590,0.016734,0.47286,0.192980,0.21212,0.124980
4,-0.45559,0.84107,0.314980,0.124230,0.62664,0.194600,0.36869,-0.133050
...,...,...,...,...,...,...,...,...
249995,-0.53831,-0.50245,-0.195440,-0.127690,-1.13020,0.099213,-0.34438,0.171440
249996,-0.53883,-0.56453,0.114550,-0.067111,-1.12290,0.097333,-0.33685,-0.075835
249997,-0.53620,0.52067,-0.008407,-0.023910,-1.09200,0.097712,-0.30687,0.090173
249998,-0.53906,-1.43360,-0.164980,-0.029434,-1.16960,0.094124,-0.39762,0.071409
249999,-0.53617,1.22350,0.235220,0.074932,-1.03370,0.095170,-0.27669,-0.050913

In [91]:
# NÃºmero de muestras por segmento (0.01 segundos APROX)
segment_length = 500

# NÃºmero total de segmentos completos que se pueden hacer
num_segments = len(horizontal_05mm12) // segment_length  # NÃºmero de bloques completos


segments = [horizontal_05mm12.iloc[i * segment_length: (i + 1) * segment_length] for i in range(num_segments)]

# Segmentacion de 500 en 500

In [100]:
segments[1]

,S1,S2,S3,S4,S5,S6,S7,S8
500,4.61940,-1.03260,-0.446270,-0.062525,-0.374640,0.087200,0.120910,0.118450
501,4.56320,0.63773,0.273220,0.033286,-0.326380,0.089010,0.148220,-0.115460
502,4.61430,-0.35401,-0.274520,-0.009144,-0.342890,0.088066,0.107610,0.106360
503,4.57340,-0.44439,0.085770,0.024441,-0.347650,0.085480,0.087171,-0.080752
504,4.59730,0.61240,-0.007302,0.050685,-0.320750,0.082374,0.107370,0.043420
...,...,...,...,...,...,...,...,...
995,-0.62395,-2.25820,-0.423100,-0.051304,0.061358,0.071201,0.043367,0.184990
996,-0.61870,0.53356,0.367370,0.076011,0.166970,0.075058,0.161180,-0.122420
997,-0.62318,-1.37860,-0.453320,-0.124520,0.073381,0.074275,0.087473,0.239120
998,-0.62152,-0.47969,0.195620,-0.082397,0.118440,0.075475,0.138440,-0.078658
999,-0.62004,-0.10177,-0.215550,-0.148710,0.130750,0.074224,0.147430,0.116950

# Atributos estadisticos

In [102]:
df = segments[1]

# Crear las estadÃ­sticas para cada columna de manera automÃ¡tica
stats = {}

# Iterar por cada columna y calcular las estadÃ­sticas
for column in df.columns:
    stats[f'{column}_mean'] = df[column].mean()
    stats[f'{column}_median'] = df[column].median()
    stats[f'{column}_std'] = df[column].std()
    stats[f'{column}_var'] = df[column].var()
    stats[f'{column}_cv'] = df[column].std() / df[column].mean()
    stats[f'{column}_min'] = df[column].min()
    stats[f'{column}_max'] = df[column].max()
    stats[f'{column}_IQR'] = df[column].quantile(0.75) - df[column].quantile(0.25)

# Convertir el diccionario en un DataFrame de una sola fila
stats_df = pd.DataFrame(stats, index=[0])

stats_df

,S1_mean,S1_median,S1_std,S1_var,S1_cv,S1_min,S1_max,S1_IQR,S2_mean,S2_median,...,S7_max,S7_IQR,S8_mean,S8_median,S8_std,S8_var,S8_cv,S8_min,S8_max,S8_IQR
0,3.45561,4.51815,2.094236,4.385825,0.60604,-0.64089,4.6356,0.092075,-0.477666,-0.43153,...,0.24416,0.077391,0.031349,0.025264,0.115949,0.013444,3.698598,-0.16506,0.34609,0.206634

# Funcion custom column

In [99]:
import pandas as pd

def add_custom_columns(df, col_names, values):
    for col_name, value in zip(col_names, values):
        df[col_name] = value
        
    return df


custom_column_names = ['Hz', 'medida', 'Tipo']
custom_values = [
    [12.288],  
    ['0.5mm'],   
    ['horizontal_misalignment']  
]

updated_stats_df = add_custom_columns(stats_df, custom_column_names, custom_values)

updated_stats_df

,S1_mean,S1_median,S1_std,S1_var,S1_cv,S1_min,S1_max,S1_IQR,S2_mean,S2_median,...,S8_median,S8_std,S8_var,S8_cv,S8_min,S8_max,S8_IQR,Hz,medida,Tipo
0,0.286706,-0.45415,1.7606,3.099711,6.140786,-0.74812,4.8012,0.18663,0.026041,0.035537,...,-0.023922,0.080785,0.006526,-7.522409,-0.15725,0.34543,0.118178,12.288,0.5mm,horizontal_misalignment